<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLNaiveBayes"
	iconfile="naivebayes.png"
	description="NaiveBayes"
	tooltip="NaiveBayes" 
	category="HPCC EDA"
	classname="org.hpccsystems.pentaho.job.eclnaivebayes.ECLNaiveBayes">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclnaivebayes.jar"/>
    </libraries>            
</plugin>
